:root {
    --header-color: #6aa84f;
    --nav-color: #93c47d;
    --background-color: #b6d7a8;
}

* {
    margin: 0px;

}

body {
    background-color: var(--background-color);
}

.header-wrapper {
    background-color: var(--header-color);
    width: 100vw;
    height: 6rem;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper h1 {
    color: white;
    font-size: 4rem;
}

nav {
    position: sticky;
    top: 0px;
}

.nav-wrapper {
    background-color: var(--nav-color);
    width: 100vw;
    height: 5rem;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .nav-wrapper * {
    color: white;
    font-size: 3rem;
} */

.nav-btn {
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    padding: 0.5rem 3rem; 
    flex: 1;
    height: 100%;
    transition: background-color 0.2s;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-divider {
    width: 3px;
    height: 3.5rem;
    background-color: white;
    border-radius: 2px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3rem;
    gap: 3rem;
}

.information article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information article h2 {
    font-size: 3rem;
    text-align: left;
    width: 100%;
}

.information article p {
    margin-top: 1rem;
}

.information article img {
    margin-top: 1rem;
    width: 300px;
    height: 200px;
}

.dropdown-closed {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 3px;
    margin-top: 1rem;
    overflow: hidden;
    height: 1px;
    width: 75%;
}

.dropdown-open {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin-top: 1rem;
    overflow: hidden;
    width: 75%;
}