:root {
    --header-color: #6aa84f;
    --nav-color: #93c47d;
    --background-color: #b6d7a8;
}

* {
    margin: 0px;

}

body {
    background-color: var(--background-color);
}

.header-wrapper {
    background-color: var(--header-color);
    width: 100vw;
    height: 6rem;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper h1 {
    color: white;
    font-size: 4rem;
}

nav {
    position: sticky;
    top: 0px;
}

.nav-wrapper {
    background-color: var(--nav-color);
    width: 100vw;
    height: 6rem;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-wrapper * {
    color: white;
    font-size: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 2rem;
}